$tag-color: #5e5e5e
$header-color: #202020
$line-color: #e5e5e5

.header
  padding-top: 15px
  font-weight: bold

.border-box
  border: 1px solid $line-color

.border-bottom
  border-bottom: 1px solid $line-color

.border-box
  h3, h4
    padding-left: 15px

.line-box
  border-bottom: 1px dashed $line-color
  padding: 15px
  label
    width: 100px

.initial-margin
  margin-top: 80px
  margin-bottom: 80px

.tag
  /* font-family: $georgia
  font-style: italic
  padding-bottom: 25px
  color: $tag-color
a
  text-decoration: none

label
  text-transform: capitalize

.bold
  font-weight: bold

.col-centered
  margin: 0 auto
  float: none

.white
  color: white

.black
  color: black

.text-shadow
  text-shadow: 2px 2px 2px rgba(0,0,0,1)

.add-red
  background-color: red

.bg-warning
  padding: 10px
  border: 1px solid rgba(135, 135, 135, 0.35)

.col-centered
  margin: 0 auto

.italics
  font-style: italic

.full-width
  width: 100%

.mt20
  margin-top: 20px

.mt40
  margin-top: 40px


.nolrp
  padding-left: 0
  padding-right: 0

.nolp
  padding-left: 0

.norp
  padding-right: 0

.mr5
  margin-right: 5px

.mr10
  margin-right: 10px

.ml5
  margin-left: 5px


.ml10
  margin-left: 10px

.flat-green
  color: #66CC99

.flat-red
  color: #FC575E
