.separator.steps
  = form_for current_user, url: upload_documents_path do |f|
    .row
      .col-sm-8.col-centered.col-md-8.info-box
        %h3
          Invoice Due
        .sub-title.italics
          %p
          %p
            Please review the invoice that was recently sent to you, in regards to the inaccurate/ fraudulent accounts that are on your Transunion, Equifax and Experian credit reports.
          %p
            This invoice is now due.
          %p
            In order to remain a client of The Offices of White and Associates, the amount owed must be paid at Bank of America in the account listed below, or you can use the other option shown here for a small service fee.
          %p
            As stated in the Service Agreement, clients will be given a five (5) day grace period in order to pay the amount described on the invoice once it is due. Any invoices that remain unpaid after this allotted timeframe will be considered delinquent and handled accordingly.
          %h6
            Payment Options
          %p
            Wire transfer
          %p
            Bank of America
            %br
            Gnostic Enterprises, Inc.
            %br
            Routing:
            %b 111000025
            Account:
            %b 488045182084
          %p
            Cash or money orders only, made payable to GNOSTIC ENTERPRISES INC.
          %p
            Indicate in the "memo section" your name and the last four (4) numbers of your social security number.
          %p
            or
          %p
            Pay by PayPal (Debit/Credit Card)
    .row
      .col-sm-8.col-centered.col-md-8.info-box
        %table.table
          %tr
            %th Amount Due
            %th View Invoice
            %th Pay by PayPal
            %th
          %tr
            - if current_user.receipts.blank?
              %td{:colspan => "4", :class => "text-center"}
                %i Currently no receipts
