@import "base/globals";
@import "base/fonts";
@import "base/transitions";
@import "base/mixins";
@import "base/media_queries";
@import "pages/index";
@import "pages/navigation";
@import "pages/user_registration";
@import "pages/waiting_for_approval";
// 1. Globals
// everything that is used more than once through site
.bold {font-weight: bold;}
img {max-width: 100%;}

.sa-fix {
  float: left;
  width:50%;
  border-bottom: 1px solid black;
  font-family: 'mr_havilandregular', cursive;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  color: blue

}
