.container {
  margin-top:10px;
}
div {
  font-size: 10px;
  width: 100%;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.clear {
  clear: both;
}

.initials-area {
  width: 100%;
}

.sign-area {
  width: 70%;
  float:left;
}


.margin-fix {
  padding-top: 40px;
}

.sa-fix {
  float: left;
  width:50%;
  border-bottom: 1px solid black;
  font-family: 'mr_havilandregular', cursive;
  font-weight: 400;
  font-style: normal;
  color: blue;
  font-stretch: normal;
}

.no-bold { font-weight: normal }
.fs-12 { font-size: 12px }

.width-33 { float:left;width:33%; }
.width-30 { float:left;width:30%; }
.width-25 { float:left;width:25%; }

.documents {
//  margin-top: 110px;
  font-size: 14px; font-family: 'Helvetica';
}

.documents p, .documents li {
  padding: 3px 0;
  line-height: 5px;
}

.mt70 { margin-top: 70px }
.text-up { text-transform: uppercase; }

.line-height-fix {
  line-height: 5x;
}

.page-break {
  display: block;
  clear: both;
  page-break-after: always;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.header-text {
  font-size: 14px;
}

.header-addr {
  font-size: 13px;
}

.client-initials, .small-caps {
  font-variant: small-caps;
}

.sa-one {
 bottom: -30px;
}

.client-initials {
  background-color: yellow;
  height: 40px;
}
.container-document {
  height: 940px;
}

.pull-left {
  float: left;
  width: 50%;
}

.pull-left-sig {
  float: left;
  width: 70%;
}

.pull-right-date {
  float: right;
  width: 30%;
  text-align: right;
}
.pull-right {
  float: right;
  width: 50%;
  text-align: right;
}

.ip {
 width: 70%;
 float: left;
 font-size: 12px;
}

.ip-margin {
  margin-top: 20px;
}



.sig-fix {
  font-variant: small-caps;
  width: 20%;
  float: right;
  text-align: right;
}

.clear {
  clear: both;
}

p {
  padding: 0px auto
}