.section.header{:class => location}
  .container
    .row
      .col-sm-8.col-md-8
        = image_tag("logo.png")
      .col-sm-4.col-md-4.text-uppercase.text-shadow.phone.text-right
        = link_to "800-632-WHITE529", "tel:800-63294483529", class: "pull-right mont bold"

    = render partial: "layouts/navigation"
    .row
      .col-sm-12.col-centered.rotate
        %h2.text-center.text-shadow.white
          %strong#fade-1
            Every two seconds another American becomes a victim of identity fraud.
          %strong#fade-2
            We specialize in helping victims of identity theft and have over 25+ years of knowledge and experience.
