%h1.text-center.no-bold
  Offices of White and Associates
%p.text-center.no-bold.no-margin.header-text
  290 NW 165th Street, #P100, Miami, FL 33169
%p.text-center.no-bold.no-margin.header-addr
  Phone: (480)-999-4483 - Toll Free: (800)-632-9448 - Fax: (210)319-4483 - Email: info@whitecreditlaw.com
